*{
    color: white;
}

#main-text{
     font-family: "Cinetype Mono" ,monospace;
}
#header-text{
    font-family: "Cinetype Mono" ,monospace;
    font-size: 12px;
}
#content-text{
    font-family: "Cinetype Mono" ,monospace;
    font-size: 12px;
    color: rgb(131, 131, 131);
}

.container {
  display: flex;       /* makes children sit in a row */
  gap: 20px;           /* space between divs */
}

.box {
  padding: 20px;
  flex: 1;             /* optional: makes boxes equal width */
  text-align: center;
}

header {
        position: sticky;      
        top: 0;
        background-color: #222;
        color: white;
        padding: 15px;
        text-align: center;
}

footer{
        bottom: 0;
        background-color: #222;
        color: white;
        padding: 15px;
        text-align: center;
}
    
main {
    background-color: black;      
}

#center-div{
    margin: 150px;
}

#center-text{
      display: flex;
    justify-content: center;
    align-items: center;
}

section{
    height: 100vh;
}
#title-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collaborate-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
