* {
    background-color: black;      
}
.text{
    color: white;
    font-family: "Cinetype Mono" ,monospace;
}

.text--content{
    font-size: 12px;
    color: rgb(131, 131, 131);
}

.text--header{
    font-size: 12px;
}

.project-img{
  height: 145px;
  width: 262px;
  top: 0px;
  left: 0px;
}

.container{
  display: flex;    
  gap: 10px;     
  /* border: 1px solid red;       */
}

.box--scale{
    height: 180px;
}

.bottom--border{
    border-bottom: 2px solid white;
    margin-left: 30px;
    margin-right: 30px;
}

.box {
  padding: 10px;
  flex: 1; 
  /* border: 1px solid chartreuse; */
}

.box--two {
  padding: 10px;
  flex: 2;           
}
    
.center-div{
    margin: 150px;
}

.center-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    height: 100vh;
    overflow: hidden;
}
