* {
    background-color: black;      
}
html{
     scroll-behavior: smooth;
     scroll-padding-top: 60px;
}

.text{
    color: white;
    font-family: "Cinetype Mono" ,monospace;
}

.header-stick{
     position: sticky;   
     top: 0;            
     color: white;
     font-family: "Cinetype Mono" ,monospace;
     padding: 5px 5px;
     z-index: 1000;    
     height: 60px;
}

footer{  
     bottom: 0;            
     color: white;
     font-family: "Cinetype Mono" ,monospace;
     padding: 10px 10px;
     z-index: 1000;    
}

.text--content{
    font-size: 14px;
    color: rgb(131, 131, 131);
}

.text--header{
    font-size: 16px;
}

.project-img{
  height: 145px;
  width: 262px;
  top: 0px;
  left: 0px;
}

.container{
  display: flex;    
  gap: 10px;     
  /* border: 1px solid red;       */
}

.container-grid{
  display: grid;    
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}

.div1 {
    grid-column: span 3 / span 3;
}

.div2 {
    grid-column-start: 4;
}

.div3 {
    grid-column-start: 5;
}

.div4 {
    grid-column-start: 6;
}
    
.box--scale{
    height: 180px;
}

.bottom--border{
    border-bottom: 2px solid white;
    margin-left: 30px;
    margin-right: 30px;
}

.box {
  padding: 10px;
  flex: 1; 
  /* border: 1px solid chartreuse; */
}

.box--two {
  padding: 10px;
  flex: 2;           
}
    
.center-div{
    margin: 150px;
}

.center-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    height: 100vh;
    overflow: hidden;
}
