*{
    color: white;
}

.main-text{
     font-family: "Cinetype Mono" ,monospace;
}
.header-text{
    font-family: "Cinetype Mono" ,monospace;
    font-size: 12px;
}
.content-text{
    font-family: "Cinetype Mono" ,monospace;
    font-size: 12px;
    color: rgb(131, 131, 131);
}

.project-img{
  height: 104px;
  width: 262px;
  top: 0px;
  left: 0px;
}

.container {
  display: flex;       /* makes children sit in a row */
  gap: 10px;           /* space between divs */
}

.box {
  padding: 10px;
  flex: 1;             /* optional: makes boxes equal width */
  text-align: center;
}
.box-left {
  padding: 10px;
  flex: 2;             /* optional: makes boxes equal width */
  /* text-align: center; */
}

.box-right{
  padding: 10px;
  flex: 1;             /* optional: makes boxes equal width */
  /* text-align: center; */
}

header {
        position: sticky;      
        top: 0;
        background-color: #222;
        color: white;
        padding: 15px;
        text-align: center;
}

footer{
        bottom: 0;
        background-color: #222;
        color: white;
        padding: 15px;
        text-align: center;
}
    
main {
    background-color: black;      
}

.center-div{
    margin: 150px;
}

.center-text{
      display: flex;
    justify-content: center;
    align-items: center;
}

section{
    min-height: 100vh;
    overflow: hidden;
}
.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collaborate-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
